body {
    overflow-y: hidden; /*zorgt ervoor dat je geen tweede scroll bar hebt*/
    background-color: black;
    
}
.main1 {
    position: absolute;/*zorgt dat hij helemaal in de hoek geplaats wordt.*/
    right:0;
    top:0;
    height: 100vh; /*de hoogte*/
    overflow-x: hidden; /*Je kan niet scrollen op de xas*/
    overflow-y: auto; /*Je kan wel scrollen op de y-as */
    perspective: 2px; /*de perspectief*/
}

.section100 {
    position: relative; /*dit element is de ouder van de parallax en image elements dus moet hij een relatieve positie hebben*/
    height: 100vh; /*De hoogte van een section. Moet even groot zijn als de height van main1*/
    display: flex; /*alle text dingen*/
    justify-content: center;

    align-items: center;
    color: white;
    text-shadow: 0 0 5px #000; /*schaduw*/
}
.section1{
    padding-top: 2vh;
    position: relative;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    height: 100vh;
    color: white;
    text-shadow: 0 0 5px #000;
}

.sectionFooter { /*section voor de niet parallax elements. Deze heeft geen align-items:center;*/
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    height: 10vh;/*10*/
    color: white;
    text-shadow: 0 0 5px #000;
}
.parallax::after { /*de ::after is een pseudo-element*/
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5); /*dit zorgt voor de scrolling parralax. De scale is hoe de schaal van de afbeelding*/
    background-size: 100%; /*De afbeelding is op ware grote. Verander de afbeeldings grote in scale*/
    z-index: -1; /*zorgt dat het op de achtergrond blijft*/
}
.static {/*de statische elementen blijven stil staan en hebben dus geen parallax*/
    background: black;
    z-index: 1;/*Zorght dat het op de voorgrond blijft.*/
}

.image1::after { /*het image element. After omdat het een kind is van het section element*/
    background-image: url("ProfielFoto.jpg");
    width: 100%;
    background-repeat: no-repeat;
}

span, p{
    font-size: 2.5vh;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
}


h2 { /*voor alle chapter titels in de site*/
    font-size: 7.5vh;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
}
h3 { /*voor alle chapter titels in de site*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 2.95vh; 
}
h4 { 
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 2.5vh;
}
h1 {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    z-index: 1;
    font-size: 5vh;
}

button {
    background-color: black;
    border-radius: 3px;
    color: white;
    display: inline-block;
    border: 0.25vh solid white;
    transition: 0.3s;
    margin:2vh;
    cursor: pointer;
}
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
        display: inline-block;
        border: 2px solid white;
    }



